.plot-div {
  width: 192px;
  height: 192px;
  background-image: url("../img/dirt.png");
  background-size: cover;
}

#plotGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 1000px;
  width: 1000px;
}

#gameArea{
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 1px solid #779482;
  width: max-content;
  margin: 0px auto;
}

#inventoryGrid{
  border: 1px solid #779482;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}

.plot-div img{
  width: 192px;
  height: 192px;
  display: block;
}

#moneyDisplay {
  border: #779482 thick solid;
  width: max-content;
  margin: 0px auto;
  height: 30px;
}

.inventorySlot {
  width: 150px;
  height: 150px;
  /* background-color: sandybrown; */
}

#moneydisplay {
  font-family: 'Supermercado One', cursive;
}

img{
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: crisp-edges;
}

/* #gamearea img {
  width: 100px;
  height: 100px; */
